body {
  background: fixed linear-gradient(darkslategrey, rgb(15, 26, 26));
  margin: 0;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background: darkslategrey;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(23, 39, 39);
  outline: 1px solid wheat;
}

.Navbar {
  background-color: rgb(23, 39, 39);
  color: wheat;
}

.CategoryNavbar {
  color: rgb(23, 39, 39);
  background-color: wheat;
}

.Category-Link {
  color: rgb(23, 39, 39);
  text-decoration: none;
}

.Header-Link {
  color: #f5deb3;
  text-decoration: none;
}

.Contact {
  color: #f5deb3;
  text-align: center;
}

.ContactContainer {
  color: #f5deb3;
  text-align: center;
}

.carousel {
  color: white;
  text-shadow: 3px 3px black;
  padding: 1em;
  font-size: 14pt;
}

.Header {
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.Main {
  transform: translateY(8em);
}

.Fortune {
  position: fixed;
  width: 100vw;
  text-align: center;
  transform: translateY(5em);
}

.ContactSubContainer {
  position: fixed;
  width: 100vw;
}

.ContactCard {
  position: fixed;
  width: 100vw;
}